body {
  background-color: #ffffff;
  background-image: url("images/Background.jpg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}

.dark {
  background-color: #000000;
  background-image: url("images/BackgroundDark.jpeg");
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: background-image 0.5s ease-in-out;
  transition: background-image 0.5s ease-in-out;
}
