body {
  background-color: #ffffff;
  background-image: url("images/Background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.dark {
  background-color: #000000;
  background-image: url("images/BackgroundDark.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
